# Módulo 1: Análisis de datos en el ecosistema Python

### Sesión (4)

**26/09/2022**

# Exploración y tratamiento de datos

Breve resumen de herramientas principales de tratamiento de datos en Python:

#### **Numpy:**
* Paquete específico muy útil para trabajar con **arrays y matrices**
* Podemos crear arrays desde cero (útil cuando queremos arrays **multidimensionales**)


#### **Matplotlib:**
* Paquete para pintar gráficos a partir de datos contenidos en listas o arrays.
* Se usa la extensión matemática numpy

#### **Pandas:**
* Paquete que sirve para trabajar con datos
* La librería Pandas dispone de tres estructuras principales:
    * __DataFrames__
    * __Series__
    * __Index__

## Gráficos
Existen varias librerías y paquetes para pintar gráficos en python. Uno de los más populares es el **[matplotlip](https://matplotlib.org/stable/)**, que tiene una sintaxis que proviene de **Matlab**.

Para usarlo en Jupyter vamos a utilizar un [comando "mágico"](http://ipython.readthedocs.io/en/stable/interactive/magics.html). Jupyter permite hacer cosas que no son código Python, el que vamos a usar aquí configura Jupyter para que la salida de los gráficos de matplotlib se muestre en el propio cuaderno (en vez de guardarse en un archivo separado).

In [ ]:
# Esta celda suele estar en todos los notebooks que hagan tratamiento de datos
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

Pintamos un gráfico sencillo a partir de un conjunto de puntos:

In [ ]:
# Por defecto se pinta un "line plot"
plt.plot([10,20,30,40], [200,300,400,100])
plt.xlabel('Tiempo [min]')
plt.ylabel('Potencia [kW]')
plt.title('Motor 1')
plt.show()

In [ ]:
# Podemos indicar el tipo gráfico indicando muchas opciones
plt.plot([10,20,30,40], [200,300,400,100], color='blue', marker='o', linestyle='dashed', linewidth=2, markersize=12)
plt.xlabel('Tiempo [min]')
plt.ylabel('Potencia [kW]')
plt.title('Motor 1')
plt.show()

Se pueden modificar los parámetros de estilado por defecto de **matplotlib** mediante [rcParams (runtime configuration Parameters)](https://matplotlib.org/3.5.0/api/matplotlib_configuration_api.html#matplotlib.rcParams)

In [ ]:
# Modificar los parámetros del gráfico
plt.rcParams['figure.figsize'] = 12, 6 # el primer dígito es el ancho y el segundo el alto
plt.rcParams["font.weight"] = "bold"
plt.rcParams["font.size"] = 10
plt.rcParams["axes.labelweight"] = "bold"

In [ ]:

plt.plot([10,20,30,40], [200,300,400,100], color='blue', marker='o', linestyle='dashed', linewidth=2, markersize=12)

plt.xlabel('Tiempo [min]', fontsize='large', fontweight='bold')
plt.ylabel('Potencia [kW]', fontsize='large', fontweight='bold')
plt.title('Motor 1', fontsize=20, fontweight='bold')

plt.show()

In [ ]:
# Para volver a los valores y los ajustes por defecto
plt.rcdefaults()

In [ ]:
# El mismo gráfico esta vez con parámetros y ajustes por defecto!!
plt.plot([10,20,30,40], [200,300,400,100], color='blue', marker='o', linestyle='dashed', linewidth=2, markersize=12)

plt.xlabel('Tiempo [min]', fontsize='large', fontweight='bold')
plt.ylabel('Potencia [kW]', fontsize='large', fontweight='bold')
plt.title('Motor 1', fontsize=20, fontweight='bold')

plt.show()

In [ ]:
# Un ejemplo más avanzado
# Desde la sección numpy sabemos que la función np.linspace() nos permite crear un array con valores equidistantes
X = np.linspace(-np.pi, np.pi, 180)
Coseno = np.cos(X)
Seno = np.sin(X)

# Usamos la opción scatterplot que pinta solamente los puntos en vez de dibujar lineas
plt.scatter(X, Coseno, s=10)
plt.scatter(X, Seno, s=10)

plt.show()

### **`Ejercicio 4.1`**

Crea un gráfico con puntos rojos que visualice el valor de cada número elevado al cubo para 100 números repartidos de forma equidistantes entre 0 y 10 (no inclusive)

In [ ]:
## Solución
# Ejercicio 4.1

---

# Pandas

* **Pandas** es un paquete basado en **numpy** y otros que sirve para trabajar con datos.
 
* Pandas incorpora muchas cosas que facilitan el análisis de datos:
    * Arrays etiquetados (**labeled arrays**)
    * Introducir datos heterogéneos en una tabla (similar a los **DataFrames** de R)
    * Los valores perdidos (**missing values**) se tratan mejor
    * **Funciones** útiles estadísticas, para pintar gráficos, calcular nuevas variables, etc.
    * más **tipos** de datos (**Categorical** para variables categóricas, **Datetime** para fechas)


* Para poder empezar a usar pandas necesitamos tener instalado el numpy, después podemos importar pandas mediante el comando `import` que por convenio suele importarse bajo el acrónimo de `pd`

* La librería Pandas dispone de tres estructuras principales:  
    * **Series**
    * **DataFrames**
    * **Index**

In [ ]:
import numpy as np
import pandas as pd

## Pandas Series

* Un pandas series se trata de **un array unidimensional indexada** o mejor dicho **etiquetada**. 

* Este tipo de datos pueden ser creados a partir de un array unidimensional o de una lista de la siguiente forma.

In [ ]:
# Nos creamos un objeto tipo serie
data = pd.Series([10, 20, 15, 10, 17],index = ['a', 'b', 'c', 'd','e'])

# Mostramos el resultado
print(data)
type(data)

Una serie dispone tanto de una **secuencia de valores** (los datos de nuestra lista/array), además de una **secuencia de índices**.

* Podemos acceder tanto a los valores como a los índices mediante los atributos: `.values` e `.index` respectivamente.
* Podemos ver las características de una serie mediante `.size ` (devuelve el número de elementos de la serie) y `.dtype` (devuelve el tipo de datos de los elementos de la serie).

In [ ]:
# Accedemos a los valores de nuestra serie
print(data.values)

# Vemos su tipo 
print(type(data.values))

# Accedemos a los índices
print(data.index) 

# Consultamos el tipo de datos para los índices
print(type(data.index)) 

# Consultamos el número de elementos de la serie
print(data.size) 

# Consultamos el tipo de datos de los elementos de la serie
print(data.dtype)

### Funciones (métodos) para  Series

Algunos **métodos para Series**:
* **data.value_counts():** Devuelve un objeto que contiene en orden de frecuencia, los distintos valores existentes en la serie junto con el número de apariciones de cada uno.  
* **data.unique():** Devuelve un array con los valores únicos de la serie.  
* **data.sort_values():** Devuelve la serie con valores ordenados. Por defecto en orden ascendiente.

In [ ]:
data

In [ ]:
data.value_counts()

In [ ]:
data.value_counts().index

In [ ]:
data.unique()

In [ ]:
data.sort_values()

Podemos acceder a los datos concretos a través de sus índices, de igual forma que hacíamos en un numpy array, haciendo uso de los **corchetes**.

In [ ]:
print("La serie =")
print(data)

# Accedemos al primer valor de nuestra serie (como si fuera un array)
print("\n Primer elemento =", data[0])

In [ ]:
# Accedemos al segundo y al tercer elemento de nuestra serie
data[1:3]

In [ ]:
# Accedemos al elemento con índice "b"  de nuestra serie (como si fuera un diccionario)
data['b']

In [ ]:
# Accedemos a los elementos con índice "a","b","c"  de nuestra serie
data['a':'c']

Al igual que otros objetos mutables que hemos visto anteriormente, las series en pandas también se pueden modificar cuando se referencian por el indexado

In [ ]:
# Modificamos el primer elemento referenciando su posición
data[0] = 88
data

In [ ]:
# Modificamos el último elemento referenciando su índice
data['e'] = 99
data

* Podríamos pensar que un objeto pandas series se trata de una especialización de un diccionario. 
* Un diccionario se trata de una estructura que asigna un conjunto de claves arbitrarias a un conjunto de valores arbitrarios, mientras que una **Serie** asigna un conjunto de **claves tipadas** a un conjunto de **valores tipados**. 
* Esta tipificación es importante: de igual forma que el código compilado que corre detrás de un Numpy array la hace más eficiente que una lista Python para ciertas operaciones, el tipado de los datos de una Serie hace que esta sea mucho más eficiente que un diccionario para ciertas operaciones.

Podemos crear series a partir de diccionarios y diccionarios a partir de series.
Por defecto las series son ordenadas por clave en sentido ascendente.  
Cojemos el ejemplo de los ganadores de [Champions League:](https://es.uefa.com/uefachampionsleague/history/rankings/)

In [ ]:
# Nos creamos una serie a partir de un diccionario
champions_dict = {'Real_Madrid': 14, 'Milan': 7, 'Liverpool': 6, 'Bayern_Munich': 6, 'Barcelona': 5}

# Mostramos el diccionario
print(champions_dict)
type(champions_dict)

In [ ]:
# Nos creamos nuestro pandas series a partir del diccionario
champions_series = pd.Series(champions_dict)

#Mostramos el resultado
print(champions_series)
type(champions_series)

In [ ]:
# Las claves del diccionario original son los índices o las etiquetas de la serie
champions_series.index

In [ ]:
# Consultamos la estadística de los dos primeros equipos
champions_series[0:2]

In [ ]:
# Consultamos por el índice/clave asociado
champions_series['Barcelona']

## Dataframe

* Si una serie es una analogía de un array unidimensional con índices etiquetados, un **DataFrame** es análogo a **un array bidimensional con flexibilidad de indexación** tanto para las <ins>filas</ins> como para las <ins>columnas</ins>.  
* Podemos pensar en un **DataFrame** como objetos de tipo serie alineados. Aquí la palabra alineado quiere decir que comparten el mismo índice.

Los objetos Pandas DataFrame se pueden construir de diversas formas, a continuación veremos algunas de estas.
* **A partir de una Serie:**
Como ya hemos indicado un DataFrame es una colección de objetos tipo Serie, por lo que a partir de una sola Serie podemos crearnos un objeto de tipo DataFrame.
* **A partir de datos guardados en formato tabular:**
Se pueden crear DataFrames por ejemplo a partir de un archivo *csv* o *Excel*.
* **A partir de un diccionario:**
Cualquier diccionario o lista de diccionarios puede ser transformada a un objeto de tipo DataFrame.

In [ ]:
# Crear un conjunto de pandas series con índices iguales
serie_temp = pd.Series({'a': 150, 'b': 100, 'c': 110})
serie_func = pd.Series({'a': True, 'b': False, 'c': False})
serie_pot = pd.Series({'a': 160, 'b': 180, 'c': 240})

# Crear un diccionario etiquetando cada serie
dicc_series = {'Temperatura': serie_temp,
                'Funcionalidad': serie_func,
                'Potencia': serie_pot}

# Crear un DataFrame con el conjunto de las series etiquetadas
df_1 = pd.DataFrame(dicc_series)
print(type(df_1))
df_1

In [ ]:
# Creamos un DataFrame a partir de un diccionario que directamente contiene los valores de tres variables.
# El "index" define la secuencia de las variables e indica que todas tienen los mismos índices (si no lo ponemos se crea uno por defecto con números).

dicc = {'Temperatura': [150, 100, 110, 95, 85],
        'Funcionalidad': [True, False, False, True, False],
        'Potencia': [160, 180, 240, 160, 185]}

df = pd.DataFrame(dicc, index=['a', 'b', 'c', 'd', 'e'])
print(type(df))
df

In [ ]:
# Mostramos los índices
print(df.index)

# Obtenemos y mostramos las etiquetas (los nombres de las columnas)
columns = df.columns
columns

## Pandas Index
Ya hemos visto que los objetos tipo Serie y tipo DataFrame contienen **índices** que nos permiten referenciar y modificar sus datos. Este objeto de tipo **index** se trata de una estructura muy interesante que además de ayudarnos a seleccionar los datos, también sirven para hacer operaciones entre varios dataframes.

Aquí simplemente accedemos a estos datos de la siguiente forma y consultamos el tipo de dato que tienen asignado:

In [ ]:
df.index

In [ ]:
print(type(df.index))

Este es un índice muy basico, pero los hay de más tipos como:
- `MultiIndex` para índices multidimensionales (jerárquicos)
- `DatetimeIndex` para usar fechas
- `Float64Index` para floats
- `CategoricalIndex` para categorías
- `RangeIndex ` para rangos

Aunque los objetos de tipo `Index` se tratan de objetos **inmutables** y una vez creados no podemos modificar su contenido, podemos aplicarles la indexación estándar de Python y además disponen de muchos de los atributos de los arrays de numpy.

In [ ]:
# Obtemos el primer valor de nuestro objeto index
ind = df.index
ind[0]

In [ ]:
# Eso sí, son inmodificables
ind[0] = 'aaa'

In [ ]:
# Obtenemos el número de elementos, tamaño, dimensión y el tipo de dato que contiene nuestro objeto de tipo index
print("Los índices = ",ind)
print("Número de elementos = ", ind.size)
print("Tamaño = ", ind.shape)
print("Dimensiones = ",ind.ndim)
print("Tipo = ", ind.dtype)

### **`Ejercicio 4.2`**

**`4.2.1`** Define una función genérica usando el método `lambda` para convertir un array a una pandas series con valores enteros.    
**`4.2.2`** Aplica la función definida en el paso anterior sobre estos datos: `[10, True, 8.00, False, 8, 10]`  
**`4.2.3`** Consulta la siguiente información respecto a la serie creada en el paso anterior:
- valores de la serie
- índices de la serie
- tipo de datos que contiene la serie
- número de bits que ocupa en la memoria la serie  
  
**`4.2.4`** Genera un gráfico básico de la serie.  
**`4.2.5`** Saca todas las estadísticas básicas de la serie.  
**`4.2.6`** Consigue una serie con la frecuencia de los valores de la serie.  
**`4.2.7`** Saca todas los valores únicos de la serie.  
**`4.2.8`** Reordena la serie con los valores en orden descendiente y con los índices reseteados.  
**`4.2.9`** Genera un DataFrame con una columna que se llame `'ej_42'`a partir de la serie.ndiente.

In [ ]:
## Solución
# Ejercicio 4.2.1

In [ ]:
## Solución
# Ejercicio 4.2.2

In [ ]:
## Solución
# Ejercicio 4.2.3

In [ ]:
## Solución
# Ejercicio 4.2.4

In [ ]:
## Solución
# Ejercicio 4.2.4

In [ ]:
## Solución
# Ejercicio 4.2.5

In [ ]:
## Solución
# Ejercicio 4.2.6

In [ ]:
## Solución
# Ejercicio 4.2.7

In [ ]:
## Solución
# Ejercicio 4.2.8

In [ ]:
## Solución
# Ejercicio 4.2.9

---

## DataFrame Slicing

Para los DaraFrames existen diferentes maneras de seleccionar y filtrar los datos: 
1. Filtrar usando `[]` para seleccionar columnas por sus nombres o un rango de filas.
2. Filtrar usando `.loc[etiquetas_filas, etiquetas_columna]` para seleccionar según etiquetas.
3. Filtrar usando `.iloc[posiciones_filas, posiciones_columnas]` para seleccionar según posición.
4. Filtrar por <ins>indexado booleano</ins> para seleccionar simplemente los datos que cumplan las condiciones declaradas.

In [ ]:
# Consultamos de nuevo el contenido y el tipo de nuestro DataFrame
print(type(df))
df

#### 1. Ejemplos con **`[]`**

In [ ]:
# Seleccionar una sola columna devuelve una Serie
print(df['Temperatura'])

type(df['Temperatura'])

In [ ]:
# Se puede seleccionar una lista de columnas (la primera y la última por ejemplo)
columnas = ['Temperatura', 'Potencia']

# En este caso el resultado es un DataFrame filtrado (por contener la unión de varias series)
print(type(df[columnas]))

df[columnas]

In [ ]:
# Seleccionar un rango de filas (no se puede seleccionar una fila concreta usando solamente[])
df['b':'d']

#### 2. Ejemplos con **`.loc[]`**

In [ ]:
# Seleccionar una sola fila devuelve una Serie
print(type(df.loc['c']))

df.loc['c']

In [ ]:
# Se puede seleccionar una lista de filas (la primera y la penúltima por ejemplo)
filas = ['a', 'd']

# En este caso el resultado es un DataFrame filtrado (por contener la unión de varias series)
print(type(df.loc[filas]))

df.loc[filas]

In [ ]:
# Se puede llegar a seleccionar un elemento concreto usando .loc[] y el nombre/etiqueta de la fila y la columna correspondiente
# Escogemos el último elemento de la tabla
df.loc['e', 'Potencia']

In [ ]:
# filas "c" y "d", columnas "Temperatura" y "Potencia"
df.loc[['c', 'd'], ['Temperatura', 'Potencia']]

#### 3. Ejemplos con **`.iloc[]`**

In [ ]:
# Aplicando .iloc[] Podemos usar el indexado habitual de numpy como si nuestro DataFrame fuera un array bidimensional

# Seleccionamos el primer elemento de la tabla
print(df)

df.iloc[0,0]

Seleccionar una sola columna o una sola fila devuelve una Serie

In [ ]:
# Seleccionar la última columna 
print(type(df.iloc[:,-1]))
df.iloc[:,-1]

In [ ]:
# Seleccionar la última fila 
print(type(df.iloc[-1,:]))
df.iloc[-1,:]

In [ ]:
# Al igual que el indexado de arrays bidimensionales en numpy, si indicamos solamente un índice se selecciona la fila entera
df.iloc[-1]

In [ ]:
# Podemos seleccionar un rango de filas (también funciona como vimos simplemente con los corchetes: df[0:3])
df.iloc[0:3]

In [ ]:
# Seleccionar elementos de la segunda y la tercera fila y de la segunda y la tercera columna
df.iloc[1:3,1:]

#### 4. Ejemplos con máscaras (**indexado booleano**)

In [ ]:
# Filtrando el dataframe y quedando solo con las filas con temperatura mayor que 100
df[df["Temperatura"]>100]

In [ ]:
# Filtrando por temperatura mayor que 100 y quedando solamente con las dos últimas columnas
df.loc[df["Temperatura"]>100, ['Funcionalidad', 'Potencia']]

Además de filtrado, podemos crear y añadir nuevas filas y columnas a raíz de las filas y las columnas existentes

In [ ]:
# Añadir una nueva fila con el índice 'f' que consiste en replicar los valores de la primera fila 'a'
df.loc['f'] = df.loc['a']
df

In [ ]:
# Crear una nueva columna para indicar la potencia en MW 
df['Potencia_MW'] = df['Potencia']/1000
df

### Métodos para los DataFrames 
* **.head()** muestra las primeras filas del DataFrame (por defecto las 5 primeras) y es muy útil para cuando tenemos muchas filas
* **.mean()** muestra la media de las columnas
* **.describe()**  muestra un resumen de todas las columnas, con cálculos **estadísticos básicos** (solo lo hace para las columnas numéricas)

In [ ]:
df.head()

In [ ]:
# Media de una columna
df['Potencia'].mean()

In [ ]:
# Media de todas las columnas (para la columna "Funcionalidad" convierte True a 1 y False a 0)
df.mean()

In [ ]:
df.describe() # Sólo las columnas numéricas

In [ ]:
# Podemos hacer visiualizaciones rápidas (por debajo se usa matplotlib)
df['Potencia'].plot()

In [ ]:
# De la columna 'Potencia', podemos hacer un histograma
df['Potencia'].hist()

In [ ]:
# Para la columna 'Potencia' consultamos la frecuencia de los valores
df['Potencia'].value_counts()

In [ ]:
# Para la columna 'Potencia' consultamos los valores únicos
df['Potencia'].unique()

### Tratando los valores perdidos
Pandas trata los valores **None** y **NaN** indistintamente para indicar valores perdidos. Para facilitar el tratamiento de estos valores existen métodos que nos permiten detectar, imputar o eliminar estos valores perdidos, estos métodos son:

* **isnull():** genera una máscara booleana indicando los valores perdidos.

* **notna()** y **notnull():** opuestos a isnull(), es decir, generan una máscara indicando los valores que no son perdidos.

* **dropna():** retorna una versión filtrada de los datos sin valores perdidos.

* **fillna():** retonar una versión de los datos con los valores perdidos imputados o rellenos.

In [ ]:
# Modificamos algunos elementos para introducir valores perdidos (cambiando su valor a NaN)
df.loc['a', 'Potencia'] = df.loc['c', 'Potencia'] = np.nan
df.loc['b', 'Temperatura'] = df.loc['f', 'Temperatura'] = np.nan
df

In [ ]:
df.isnull()

In [ ]:
df.notna()

In [ ]:
# Por defecto se quitan aquellas filas que contengan algún valor nulo
df.dropna()

In [ ]:
# Se puede indicar en el argumento 'axis' que se eliminen las columnas con valores perdidos en vez de filas
df.dropna(axis='columns')

In [ ]:
# Rellenar los valores perdidos 
df.fillna(0)

### Operando con valores perdidos

In [ ]:
# Nos creamos un numpy array con uno de sus valores igual a NaN
valores = np.array([1, 2, 3, np.nan])
print(valores)
print(valores.dtype)

In [ ]:
# Realizamos unos calculos sobre el array (cualquier operación que contenga un valor NaN devolverá NaN)
print(valores.sum())
print(valores.min())
print(valores.max())

Numpy dispone de operaciones especiales que ignoran estos valores perdidos: **np.nansum()** , **np.nanmin()** , **np.nanmax()**

In [ ]:
#Hacemos uso de las funciones que ignoran los valores perdidos
print(np.nansum(valores))
print(np.nanmin(valores))
print(np.nanmax(valores))

### Funciones en DataFrames

Breve recordatorio sobre las **funciones lambda**:
* A veces necesitamos tener funciones que son tan sencillas que no merece la pena ni siquiera que tengan nombre o estén declaradas. 
* Existe una sintaxis para hacer eso en Python en una sola línea.
* Se utiliza la palabra clave lambda seguida de las variables, dos puntos y la expresión: `lamda variables: expresión`

**El método Apply():**
Este método nos permite aplicar una función arbitraria a cada uno de los grupos. La función debería tomar un DataFrame y devolver un objeto tipo Pandas (DataFrame o Series).

In [ ]:
df

In [ ]:
# Devuelve una serie con la suma de todos los elementos (axis=0 para las columnas)
df.apply(np.sum, axis=0)

In [ ]:
# axis=1 para las filas
df.apply(np.sum, axis=1)

In [ ]:
# ejemplo de apply usando la función lambda, sumo 1 a todos los datos del DataFrame 
df.apply(lambda x: x + 1)

### **`Ejercicio 4.3`**

Conseguimos el Dataset de [Auto MPG](https://archive.ics.uci.edu/ml/datasets/auto+mpg) que contiene datos del consumo de combustible de diversos modelos de coches. 

**`4.3.1`** ¿Qué coche pesa más de 5000 kg?    
**`4.3.2`** ¿Cuál es el número de cilindros más frecuente en los coches que son del año 76?  
**`4.3.3`** Compara el consumo medio de los coches fabricados en el año 70 con los del año 79 y calcula la diferencia.    
**`4.3.4`** Identifica las variables que contienen valores nulos (missing values) en caso que haya alguno.    
**`4.3.5`** Consigue un DataFrame de aquellos registros que tengan algún valor nulo (NaN), filtrando el DataFrame original.  
**`4.3.6`** Calcula la frecuencia del número de cilindros entre los registros del DataFrame anterior (la tabla con valores perdidos).  
**`4.3.7`** Crea un DataFrame de los modelos con 6 o más cilindros, que pesén más de 4000 kg y consumen menos o igual que 10 galón por milla, filtrando el dataset original.

In [ ]:
# Descargar los datos desde la página de UCI

path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

mpg_data = pd.read_csv(path, delim_whitespace=True, header=None,
            names = ['mpg', 'cilindros', 'desplazamiento','potencia',
            'peso', 'aceleración', 'año', 'origen', 'nombre'],
            na_values='?')

# El DataFrame que se carga
mpg_data

In [ ]:
## Solución
# Ejercicio 4.3.1

In [ ]:
## Solución
# Ejercicio 4.3.2

In [ ]:
## Solución
# Ejercicio 4.3.3

In [ ]:
## Solución
# Ejercicio 4.3.4

In [ ]:
## Solución
# Ejercicio 4.3.5

In [ ]:
## Solución
# Ejercicio 4.3.6

In [ ]:
## Solución
# Ejercicio 4.3.7

---

## Combinando Datasets: Concatenate, Merge y Join

### Concatenación de datso

**Concatenación simple:** 
* Pandas dispone de la función **pd.concat()**, que tiene una sintaxis muy similar a **np.concatenate**, pero contiene una serie de argumentos adicionales. 
* **pd.concat()** puede ser usada como una simple concatenación entre objetos de tipo Serie o tipo DataFrame.

In [ ]:
# Nos creamos dos dataframes
df1 = pd.DataFrame(np.array([[1, 2], [3, 4]]),
                   columns=['x', 'y'], index = ['a','b'])

df2 = pd.DataFrame(np.array([[1, 4], [4, 6]]),
                   columns=['x', 'y'], index = ['c','d'])
print(df1)
print("\n",df2)

In [ ]:
# Concatenamos (por defecto la concatenación se realiza por filas, si queremos que sea por columnas: axis = 1)
print(pd.concat([df1,df2]))

**Concatenación mediante joins:**
* En los ejemplos que hemos visto anteriormente hemos realizado la concatenación de dataframes que compartian columnas. 
* En la práctica, los datos que vienen de fuentes diferentes podrían tener diferentes columnas, en estos casos la función **pd.concat()** ofrece distintas opciones.

In [ ]:
# Consideremos la concatenación de dos DataFrames, que comparten algunas columnas y otras no
df3 = pd.DataFrame(np.array([[1, 2], [3, 4]]),
                   columns=['x', 'y'], index = ['a','b'])

df4 = pd.DataFrame(np.array([[1, 4], [4, 6]]),
                   columns=['x', 'z'], index = ['c','d'])

print(df3)
print("\n",df4)

In [ ]:
pd.concat([df3, df4])

* Por defecto los datos que no machean son rellenados por *NaN*. 
* Para cambiar esto, podemos especificar el parámetro **join**. 
* Por defecto, el **join** es una unión de las columnas de entrada (**join = outer**), pero podemos cambiar esto a una intersección de columnas (**join = inner**).

In [ ]:
# Hacemos un join inner
pd.concat([df3, df4], join = 'inner')

### Categorías de join
* La función **pd.merge()** implementa varios tipos de joins: el **one-to-one**, **many-to-one** y **many-to-many**. 
* Los tres tipos de join son accesibles de forma idéntica a través de la función **pd.merge()**, el tipo de join realizado depende la forma de los datos de entrada.

* **One-to-one joins:**
Se trata del tipo de join más simple, el cual en muchas ocasiones es muy similar a la concatenación por columna.

In [ ]:
# Creamos dos dataframes, por ejemplo:
df1 = pd.DataFrame({'empleado': ['Borja', 'Jose', 'Lola', 'Sofía'],
'departamento': ['Contabilidad', 'IT', 'IT', 'RRHH']})
df2 = pd.DataFrame({'empleado': ['Lola', 'Borja', 'Jose', 'Sofía'],
'antigüedad': [2021, 2008, 2022, 2014]})

print(df1)
print("\n",df2)

In [ ]:
# Probamos la concatenación de los dos DtaFrames para compararlo con el merge
pd.concat([df1, df2])

In [ ]:
# Hacemos el merge entre los dos cojuntos de datos
df3 = pd.merge(df1, df2)
df3

La función **pd.merge()** es capaz de reconocer que ambos conjuntos de datos comparten la columna **employee**, y de forma automática realiza la unión por esta columna, es decir, usa dicha columna como clave. El resultado de la unión es un nuevo DataFrame que contiene la info de las dos entradas. Además la función **pd.merge()** no mantiene el índice, salvo que esta unión se haga por el índice.

* **Many-to-one joins:** Se tratan de joins en los cuales una de las dos columnas clave contiene entradas duplicadas. En este caso el DataFrame resultante mantendrá estos valores duplicados.

In [ ]:
# Declaramos un nuevo DataFrame
df4 = pd.DataFrame({'departamento': ['Contabilidad', 'IT', 'RRHH'],'supervisor': ['Celia', 'Gabriel', 'Sergio']})
df4

In [ ]:
# Hacemos el merge de los dos últimos DataFrames
pd.merge(df3, df4)

* **Many-to-many joins:**
Si las dos columnas clave, contienen valores duplicados, entonces el resultado es un many-to-many merge.

In [ ]:
df5 = pd.DataFrame({'departamento': ['Contabilidad', 'Contabilidad','IT', 'IT', 'RRHH', 'RRHH'],
                    'competencias': ['Matemáticas', 'Economía', 'programación', 'Cloud','Excel', 'Comunicación']})
print(df1)
print("\n",df5)

In [ ]:
# Hacemos el merge
pd.merge(df1,df5)

**Especificando la clave para el Merge:**
* Parámetro **on**: podemos especificar de forma explícita el nombre de la columna que queremos que se utilice como clave. Este valor puede tomar el nombre de la columna o bien una lista de columnas.

In [ ]:
print(df1)
print("\n",df2)

In [ ]:
# Mergeamos los dos DataFrames indicando la columna clave
pd.merge(df1, df2, on = 'empleado')

**Especificando operaciones aritméticas en joins**

* Por defecto la función **merge()** realiza lo que se conoce como inner join, es decir, se realiza la intersección entre ambos conjuntos de datos. 
* Podemos especificar el tipo mediante el parámetro **how**.
* Los valores que puede tomar el argumento **how** son: **inner** (intersección datos), **outer** (unión datos), **left**, **right**. 
* Los valores **left_join** y **right_join** nos retornan las uniones respecto a los dataframes respectivos. Es decir, si hacemos un **left_join** mantendremos los valores de la tabla de la izquierda más la unión de estos valores con la tabla de la derecha.
* Los valores perdidos son rellenados como NaN.

In [ ]:
#Supongamos el siguiente conjunto de datos
df6 = pd.DataFrame({'nombre': ['Pedro', 'Carlos', 'María'],'comida': ['carne', 'embutido', 'pescado']}, columns=['nombre', 'comida'])
df7 = pd.DataFrame({'nombre': ['María', 'Javier'],'bebida': ['sidra', 'cerveza']},columns=['nombre', 'bebida'])
print(df6)
print("\n",df7)

In [ ]:
pd.merge(df6, df7)

In [ ]:
# Hacemos el merge con outr (la unión)
pd.merge(df6, df7, how = 'outer')

In [ ]:
# Hacemos el merge con left_join
pd.merge(df6, df7, how = 'left')

In [ ]:
# Hacemos el merge con righ_join
pd.merge(df6, df7, how = 'right')

## Groupby: Split, Apply, Combine
Si bien las agregaciones simples pueden darle un significado a nuestros datos, en determinadas situaciones es posible que queramos realizar estas agregaciones a partir de una serie de índices o etiquetas: esto puede ser realizado mediane la operación **groupby**.

* El paso **split** implica dividir y agrupar un DataFrame, según el valor de la clave especificada.

* El paso **apply** implica aplicar una función usualmente de agregación, transformación o filtrado a cada uno de los grupos individuales.

* El paso **combine** finalmente unifica los resultados en un solo array o dataframe.

In [ ]:
# Generamos un conjunto de datos tipo DataFrame (con los índices por defecto)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'B', 'A', 'B', 'C'],
                   'data': range(7)}, columns=['key', 'data'])

df

In [ ]:
df.groupby('key')

* La potencia de la operación groupby es que permite al usuario ignorar como se realizan todas estas operaciones por detrás.
* Podemos calcular el conjunto de operaciones split, apply y combine simplemente haciendo uso de la función **groupby** pasándole la clave por la cual deseamos realizar esto.
* Podemos notar que no retorna un objeto de tipo DataFrame, sino que retorna un objeto de tipo **DataFrameGroupBy**. Este objeto, se trata de un objeto que está preparado para atacar a los grupos , pero no realiza un cálculo real hasta que no se realice algún tipo de agregación.

Vamos a intentar sumar todos los datos de A, todos los de B y todos los de C. Sin hacer uso de **groupby()**:

1. **Split**

In [ ]:
# Filtrar los registros de A
df_A = df[df['key']=='A']
df_A

In [ ]:
# Filtrar los registros de B
df_B = df[df['key']=='B']
df_B

In [ ]:
# Filtrar los registros de C
df_C = df[df['key']=='C']
df_C

2. **Apply**

In [ ]:
# Sumamos los de A 
sum_A = df_A['data'].sum()
sum_A

In [ ]:
# Sumamos los de B 
sum_B = df_B['data'].sum()
sum_B

In [ ]:
# Sumamos los de C
sum_C = df_C['data'].sum()
sum_C

3. **Combine**

In [ ]:
# Construir el DataFrame con los resultados obtenidos de las sumas por separado
d = {'key': ['A', 'B', 'C'],
    'suma': [sum_A, sum_B, sum_C]}

df_sumas = pd.DataFrame(d)
df_sumas

Vemos que esta forma de sumar los datos de A, B y C es bastante tediosa.
Sin embargo, podemos realizar la misma operación con una sola línea de código usando la función **groupy()**.

In [ ]:
# Aplicamos la agregación de sumatorio
df.groupby('key').sum()

In [ ]:
# Aplicamos la agregación de mínimo 
df.groupby('key').min()

In [ ]:
# Aplicamos la agregación de conteo para cada grupo
df.groupby('key').count()

* El objeto de tipo **GroupBy** se trata de un objeto muy **flexible** que nos permite realizar una serie de operaciones bastante complejas de una forma más sencilla.

* Los objetos de tipo GroupBy al igual que los objetos de tipo DataFrame permiten la indexación por columnas.
* Dado un objeto de tipo **Groupby** podemos hacer uso de los distintos métodos vistos para cada uno de los grupos por ejemplo podemos aplicar el método **describe()**.

In [ ]:
df.groupby('key').describe()

**Agregación:**
Hasta ahora estamos familiarizados con las agregaciones **sum()**, **mean()** etc para la función GroupBy. La función **aggregate()** (o **agg()**) nos permite una mayor flexibilidad, esta función puede tomar una lista de agregaciones y computar todas de una sola vez.

In [ ]:
# Pasamoa la función min mesiante aggregate
df.groupby('key').agg(min)

In [ ]:
# Aplicamos de golpe una lista de funciones con aggregate
df.groupby('key').aggregate(['min', np.median, max])

In [ ]:
# Definir una función que saca el número total de bytes consumido para cada grupo y aplicarlo mediante aggregate()
num_bytes_total = lambda x: x.nbytes
df.groupby('key').aggregate(num_bytes_total)

**Transformación:**
Mientras que la agregación retorna una versión reducida de los datos, **.transform()** retorna una versión completa de los datos transformados. Por lo tanto la salida tras aplicar una transformación es de igual tamaño que los datos de entrada.

In [ ]:
df

In [ ]:
df.groupby('key').aggregate(sum)

In [ ]:
df.groupby('key').transform(sum)

In [ ]:
df.groupby(['key']).transform(max)

El método **transform()** sirve sobre todo a la hora de **crear nuevas variables (columnas)** con la salida de groupby.

In [ ]:
# Añadimos una nueva columna que indique el valor máximo de todos los valores por grupo
df["max_grupo"] = df.groupby(['key']).transform(max) 
df

### **`Ejercicio 4.4`**

**`4.4.1`** Ejecutando las siguientes celdas se obtienen dos DataFrames que contienen varias lecturas de datos metorológicos de diferentes ciudades en difrentes momentos del año. Concatena las dos tablas de forma básica.     
**`4.4.2`** Concatena las dos tablas solamente con la información que tengan en común.  
**`4.4.3`** A continuación viene otra celda para generar dos tablas que corresponden a número de aportaciones de cada desarrollador de un equipo de análisi de datos en diferentes versiones liberadas de una aplicación corporativa (Released versions). Concatena de forma básica los dos DataFrames y calcula el número de filas de la tabla concatenada.  
**`4.4.4`** Realiza un merge con la unión de los dos DataFrames y calcula el número de filas de la tabla resultante.  
**`4.4.5`** Realiza un merge con la intersección. de los dos DataFrames y calcula el número de filas de la tabla resultante.  
**`4.4.6`** Volviendo al dataset de "Auto-MPG" usado en el ejercicio 4.3, genera de nuevo el DataFrame y después saca las medias de cada variable por año.  
**`4.4.7`** Dibuja la evolución del valor medio de cada variable por año.  
**`4.4.8`** Dibuja solamente la gráfica del peso medio de los coches a lo largo de los años.

In [ ]:
### Ejercicio 4.4.1

lectura1 = {'ciudad':'Valencia', 'temperatura':21, 'o2':1}
lectura2 = {'ciudad':'Barcelona', 'temperatura':18, 'o2':0.85}
lectura3 = {'ciudad':'Valencia', 'temperatura':27, 'o2':0.95}

df_met1 = pd.DataFrame([lectura1, lectura2, lectura3], index=list('abc'))
df_met1

In [ ]:
### Ejercicio 4.4.1

lectura4 = {'ciudad':'Madrid', 'temperatura':31, 'humedad':40, 'co2':14}
lectura5 = {'ciudad':'Sevilla', 'temperatura':33, 'humedad':80, 'co2':6}
lectura6 = {'ciudad':'Valencia', 'temperatura':29, 'humedad':90, 'co2':10}

df_met2 = pd.DataFrame([lectura4, lectura5, lectura6], index=list('def'))
df_met2

In [ ]:
## Solución
# Ejercicio 4.4.1

In [ ]:
## Solución
# Ejercicio 4.4.2

In [ ]:
### Ejercicio 4.4.3

analistas1 = pd.DataFrame([["Sara",4,3,8],["Manuel",2,7,3],["Pablo",2,6,4],["Antonio",1,9,6]], columns=["Name","B","C", "D"])

analistas2 = pd.DataFrame([["Claudia",6,3],["Luis",10,7],["Sara",7,11],["Pablo",12,14]], columns=["Name","F","G"])

display(analistas1)
display(analistas2)

In [ ]:
## Solución
# Ejercicio 4.4.3

In [ ]:
## Solución
# Ejercicio 4.4.4

In [ ]:
## Solución
# Ejercicio 4.4.5

In [ ]:
### Ejercicio 4.4.6

path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

mpg_data = pd.read_csv(path, delim_whitespace=True, header=None,
            names = ['mpg', 'cilindros', 'desplazamiento','potencia',
            'peso', 'aceleración', 'año', 'origen', 'nombre'],
            na_values='?')

# El DataFrame que se carga
mpg_data

In [ ]:
## Solución
# Ejercicio 4.4.6

In [ ]:
## Solución
# Ejercicio 4.4.7

In [ ]:
## Solución
# Ejercicio 4.4.8